.menu{
    width: 1132px;
    height: 328px;
    left: 308px;
    top: 696px;
    border: 3px solid gainsboro;
    background: #FFE68C;
}

.item {
    align-self: center;
  }
.item-back{
    width: 100px;
    height: 100px;

    background: #FFFFFF;
    border-radius: 49px;
}