<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form class="form-signin" (ngSubmit)="save()">
          <h2 class="form-signin-heading">Create New User</h2>
          <label for="firstName" class="sr-only">FirsName</label>
          <input type="text" id="firstName" class="form-control" name="firstname" [(ngModel)]="userRegistration.user.firstname"
            required autofocus>
          <label for="lastName" class="sr-only">LastName</label>
          <input type="text" id="lastName" class="form-control" name="lastname" [(ngModel)]="userRegistration.user.lastname"
            required>
            <label for="salary" class="sr-only">Salary</label>
            <input type="text" id="salary" class="form-control" name="salary" [(ngModel)]="userRegistration.user.salaryAmount"
              required>
            <label for="selectRole" class="sr-only">Select Role</label>
            <select id ="selectRole" name = "selectRole" [ngModel]="roles" (ngModelChange)="onChange($event)">
                <option *ngFor="let role of roles" [ngValue]="role.role">{{role.role}}</option>
            </select>
            <label for="pin" class="sr-only">PIN: </label>
            <input type="text" id="pin" class="form-control" name="pin" [(ngModel)]="userRegistration.pin"
              required>
              <label for="username" class="sr-only">UserName: </label>
              <input type="text" id="username" class="form-control" name="username" [(ngModel)]="userRegistration.username"
                required>
                <label for="password" class="sr-only">Password:</label>
                <input type="text" id="password" class="form-control" name="password" [(ngModel)]="userRegistration.password"
                  required>
          <button id = "login-button" class="btn btn-primary btn-block" type="submit">Sign in</button>
        </form>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>