
<div>
    <h1>CREATOR TOOL</h1>
<div class = "container">
    <div id="bounding-box" class = "item">
        <div *ngFor = "let table of sittingTableList" cdkDrag (cdkDragEnded) = "onItemDrop($event, table)"  cdkDragBoundary="#bounding-box" class="drag-box">
            <img src= "../../assets/{{table.icon}}" alt="Girl in a jacket" width="100" height="100"> 
        </div>
    </div>
    <div  class = "item">
        <app-new-table-form (newTableEvent)="newTableAdded($event)"></app-new-table-form>
    </div>
    
</div>
<button *ngIf="doesTableExist()" (click)="save()">SAVE FLOOR</button>
</div>
