 <div class = "div-body container-custom">
      <div class = "form-class">
        <form class="form-container" (ngSubmit)="login()">
          <h2 class = "txt-class">Please sign in</h2>
          <label class = "item label-class" for="username">Username</label>
          <input type="text" id="inputUsername" class="form-control input-class" name="name" [(ngModel)]="user.name" placeholder="Username"
            required autofocus>
          <label for="inputPassword" class = "item  label-class">Password</label>
          <input type="password" id="inputPassword" class="form-control input-class" name="password" [(ngModel)]="user.password" placeholder="Password"
            required>
          <button id = "login-button" class="submit-button" type="submit">Sign in</button>
        </form>
        <div *ngIf=badLogin class="error-container" role="alert">
          {{errorMsg}}
        </div>
      </div>
</div>
