  <div class = "div-body container">
    <div class = "form-class">
      <form class="form-container" (ngSubmit)="login()">
        <h2 class = "txt-class">Please sign in</h2>
        <label for="pin" class="sr-only">PIN</label>
          <input type="password" id="inputPin" class="form-control input-class" name="pin" [(ngModel)]="user.pin" placeholder="XXXX"
            required autofocus>
        <button id = "login-button" class="submit-button" type="submit">Sign in</button>
      </form>
      <div *ngIf=badLogin class="error-container" role="alert">
        {{errorMsg}}
      </div>
    </div>
</div>

