.order {
width: 312px;
height: 834px;
left: -1px;
top: 0px;
border: 3px solid gainsboro;

}

.container-column {
  display: flex; 
  flex-direction: column;
}

.container-row {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.text{
margin-top: 10px;
font-style: normal;
font-weight: 900;
font-size: 22px;
align-items: center;
text-align: center;
letter-spacing: -0.015em;
color: #000000;
}
.item {
    flex-basis: auto; /* default auto */
  }

.order-box{
  background: #FFFFFF;
  border: 2px solid #000000;
  box-sizing: border-box;
  min-height: 600px;
}