<div class = "div-body container-custom">
<div  class = "button-class-custom button-container">
    <img id="usrn-pass-login-button" (click) = "changeToUsrnPassLogin()" class = "img-class" src = "../../assets/manager.png">
    <p class = "txt-class">Management Login</p>

</div>
<div  class = "button-class-custom button-container">
    <img id="pin-login-button" (click) = "changeToPinLogin()" class = "img-class" src = "../../assets/waiter.png">
    <p class = "txt-class">Employee Login</p>

</div>

</div>