
.table {
    padding: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    
    
}

.table-small{
    height: 100%;
    width: 100%;
}

.table-medium{
    height: 75px;
    width: 75px;
}


.table-large{
    height: 100px;
    width: 100px;
}

.table-selected{
    border: 1px solid red;
}
.occupied {    
    background-color: #FFF500;
    
}

.notification{
    background-color: #45FF04;
}

.container {
    display: flex; 
    flex-direction: row;
  }
  .item {
    flex-basis: auto; /* default auto */
  }