<div>
    <img [id] = "'img-' + table.name" src= "../../assets/{{table.icon}}" alt="Girl in a jacket" width="100" height="100" (click) = "tableClick()"  [ngClass]="{'occupied' : this.isOrder, 'table-selected' : this.isSelected}">
    <div  *ngIf="isOrder" class="container-custom" [ngStyle] = "{'position' : 'absolute', 'left.px' : calcXDrink(), 'top.px' : calcYDrink()}">
        <img [id] = "'drink-icon-' + table.name" src= "../../assets/drinkTableItem.png" class = "notification item" alt="Girl in a jacket" width="20" height="20">
        <p [id] = "'drink-number-' + table.name" class = "item">{{countPreparedDrinks()}}/{{table.order?.items?.length}}</p>
    </div>
    <div  *ngIf="isOrder" class="container-custom" [ngStyle] = "{'position' : 'absolute', 'left.px' : calcXFood(), 'top.px' : calcYFood()}">
        <p [id] = "'food-number-' + table.name" class = "item">{{countPreparedFoods()}}/{{table.order?.items?.length}}</p>
        <img [id] = "'food-icon-' + table.name" src= "../../assets/foodTableItem.png" class = "notification item" alt="Girl in a jacket" width="20" height="20">
    </div>
</div>